De N.S.B.-overval op de ijssalon „Koco” Tien maanden tegen den hoofddader geëist
<br /><br />
<p e_id="zaak" c="#32cd32">AMSTERDAM, 27 Juli. — Gisteren werd de behandeling van de zaak teg~c de zes N.5.8.-ers, die op Woensdag 24 Mei des avonds om 10 uur een overval gepleegd hadden op Joodse inwoners van Amsterdam, die vertoefden in de ijssalon Koco aan de Rijnstraat, voortgezet.</p>
<br /><br />
<p e_id="geweld" c="#178e85">In een fel requisitoir sprak de officier van Justitie, mr. A. S. de Muinck Keizer over het feit, dat men hier te doen had met een weloverwogen rustig in scène gezette gewelddadigheid. Volgens een bepaald systeem handhaven de verdachten hun houding van ontkennen, ondanks de pertinente getuigenverklaringen.</p>
<br /><br />
<p e_id="kracht" c="#8e1720">Het geval heeft een diepe indruk op het Nederlandse volk gemaakt, zo vervolgde de officier. De overheid gaat deze terreurdaden met kracht tegen.</p>
<br /><br />
<p e_id=vonnis c="#ccff00">Daarna volgde de eis tegen de verdachten Tegen de hoofdverdachte die een vrouw ernstig mishandeld had, eiste de officier 10 maanden met aftrek van voorlopige hechtenis, tegen 4 N.5.8.-ers 8 maanden met aftrek van preventief en tegen de zesde vrijspraak.</p>
