			<a id="top"></a>

							<div id="siteNotice"><!-- CentralNotice --></div>
						<h1 id="firstHeading" class="firstHeading" lang="nl"><span dir="auto">Ernst Cahn</span></h1>
						<div id="bodyContent" class="mw-body-content">
									<div id="siteSub">Uit Wikipedia, de vrije encyclopedie</div>
								<div id="contentSub"></div>
												<div id="jump-to-nav" class="mw-jump">
					Ga naar:					<a href="#mw-navigation">navigatie</a>, 					<a href="#p-search">zoeken</a>
				</div>
				<div id="mw-content-text" lang="nl" dir="ltr" class="mw-content-ltr"><p e_id="executie", c="#cc6633"><b>Ernst Cahn</b> (<a href="/wiki/Remagen" title="Remagen">Remagen</a>, <a href="/wiki/27_juli" title="27 juli">27 juli</a> <a href="/wiki/1889" title="1889">1889</a> - <a href="/wiki/Waalsdorpervlakte" title="Waalsdorpervlakte">Waalsdorpervlakte</a>, <a href="/wiki/3_maart" title="3 maart">3 maart</a> <a href="/wiki/1941" title="1941">1941</a>) was de eerste <a href="/wiki/Nederlands_verzet_in_de_Tweede_Wereldoorlog" title="Nederlands verzet in de Tweede Wereldoorlog">verzetsstrijder</a> die tijdens de <a href="/wiki/Tweede_Wereldoorlog" title="Tweede Wereldoorlog">Tweede Wereldoorlog</a> in Nederland werd geëxecuteerd door de nazi's. Cahn was geen Nederlander, maar een gevluchte Joodse emigrant uit Duitsland.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup><sup id="cite_ref-2" class="reference"><a href="#cite_note-2">[2]</a></sup>.</p>
<p e_id="verzet" c="#6f00ff">Cahn was koopman en samen met <a href="/w/index.php?title=Alfred_Kohn&amp;action=edit&amp;redlink=1" class="new" title="Alfred Kohn (de pagina bestaat niet)">Alfred Kohn</a> eigenaar van de ijssalons <i>Koco</i> in Van Woustraat 149 en de Rijnstraat te <a href="/wiki/Amsterdam" title="Amsterdam">Amsterdam</a>. Beide mannen waren <a href="/wiki/Joden" title="Joden">Joodse</a> vluchtelingen afkomstig uit <a href="/wiki/Duitsland" title="Duitsland">Duitsland</a>. Vanuit de ijssalon in de Van Woustraat werden verzetsactiviteiten georganiseerd, de salon was de thuisbasis voor Joodse <a href="/wiki/Knokploeg" title="Knokploeg">knokploegen</a>, waar Cahn lid van was, en het verzet tegen de anti-Joodse rellen van februari 1941 werd vanuit de salon georganiseerd.</p>
<p e_id="geweld" c="#178e85">Op <a href="/wiki/19_februari" title="19 februari">19 februari</a> 1941 werd de ijssalon min of meer toevallig overvallen door de <a href="/wiki/Gr%C3%BCne_Polizei" title="Grüne Polizei" class="mw-redirect">Grüne Polizei</a>, waarbij een flinke knokpartij ontstond waarbij <a href="/wiki/Ammoniak" title="Ammoniak">ammoniakgas</a> is vrijgekomen. Het is onduidelijk of er met voorbedachten rade een installatie was aangebracht of dat het louter een ongeluk was waarbij een Duitser per ongeluk een fles ammoniak, benodigd ter bereiding van ijs, heeft omgestoten. Er zijn belastende en ontlastende verklaringen omtrent de gebeurtenissen bij ijssalon Koco <sup id="cite_ref-3" class="reference"><a href="#cite_note-3">[3]</a></sup>. Cahn en Kohn werden gearresteerd en gevangengezet en er werden buurt<a href="/wiki/Razzia" title="Razzia">razzias</a> gehouden, wat de aanleiding zou worden voor de <a href="/wiki/Februaristaking" title="Februaristaking">Februaristaking</a>.</p>
<p e_id="marteling" c="#ff8f85">Tot 3 maart 1941 zat Cahn in de <a href="/wiki/Gevangenis_van_Scheveningen_(Oranjehotel)" title="Gevangenis van Scheveningen (Oranjehotel)" class="mw-redirect">gevangenis van Scheveningen (Oranjehotel)</a>, waar hij ondanks marteling weigerde de naam van de monteur van de ammoniakinstallatie te noemen. Ernst Cahn was de eerste verzetsstrijder die op de <a href="/wiki/Waalsdorpervlakte" title="Waalsdorpervlakte">Waalsdorpervlakte</a> werd doodgeschoten.</p>



