body {
	padding-top: 0px; /* 60px to make the container go all the way to the bottom of the topbar */
}
#tabs {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
/* Note that jQuery UI CSS is loaded from Google's CDN in the "Add Resources" pane to the left.  Normally this would be done in your <head> */

.template {
	display: none;
}

.detailcategory {
	clear: both;
}

.document.well {
	padding: 2px 2px 2px 2px;
	margin-left: 2px;
	margin-right: 2px;
	/*
	width: 120px;
	height: 140px;
	float: left;
	font-size: 9px;	*/
}

.cloudContainer .cloud {
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	width: 360px;
	height: 300px;
}

h1#header {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
h2#header {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

div#results {
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

.document pre {
	clear: both;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0px;
	font-size: 11px;
	line-height: 9px;
	letter-spacing: -1px;
}
.chart {
	height: 120px;
	width:100%;
}

#stream {
	height: 300px;
	width: 97%;
}

#overview {
	height: 150px;
	width: 97%;
}

#facets {
	margin-right: 28px;
}

#facets .btn:first-child {
	text-align: left;
	width: 100%;
	max-width: 183px;
	margin-right: -29px;
}

.visual_search #search {
	clear: both;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

div.bottombar {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	font-weight: bold;
	color: #999;
	text-align: center;
	display: none;
}
#cloud_combined, #cloud_separate {
	padding-top: 3px;
	padding-bottom: 3px;
	width: 200px;
	display: inline-block;
}
.qtitle {
	font-size:23px;
	margin-bottom:0px;
	color:#176BB3;
	font-family: Arial;
	vertical-align: middle;
}
.motto{
	align:left;
	margin-top:0px;
	font-size:12px;
	margin-top:0px;
	font-family:Arial;
	font-size:9pt;
	color:#BEBEBE;
}
.wordCloudSelection {
	font-family:Arial;
	font-size:10pt;
	font-weight:bold;
}
.navbar .visual_search { margin-top: 3px; margin-bottom: 3px; }

select {
	border: 1px solid #d6d8db;
	background-color: #ecedee;
	color: #47515c;
	width: 120px;
	cursor: pointer;
}
select > option {
	padding: 5px 0px;
}

div.centreSearch
{
  width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ExploratoryCustom
{
  font-family:Arial; 
  font-size:10pt; 
  font-weight: bold; 
  color:#176bb3;
}